<?xml version="1.0"?>
<robot name="tank_rocket" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find tank_rocket)/xacro/model/model.xacro"/>
  <xacro:call macro="model" />

  <xacro:include filename="$(find tank_rocket)/xacro/gazebo/gazebo.xacro"/>
  <xacro:call macro="gazebo" />

  <xacro:include filename="$(find tank_rocket)/xacro/gps/gps.xacro"/>
  <xacro:call macro="sensor_gps" prefix="gps" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:call>
</robot>
